.message
  %ul.user
    %li.list.user__name
      = message.user.name
    %li.list.user__date
      = format_posted_time(message.created_at)
  %p.text
    - if message.body.present?
      = message.body
    = image_tag message.img.url, class: 'lower-message__image' if message.img.present?
