$white: #ffffff;
$side-header-background: #253141;
$side-groups-background: #2f3e51;
$blue: #38aef0;
$main-background: #fafafa;
$gray: #999999;
$main-message-text: #434a54;
$main-form-background: #aaaaaa;
$alert_orange: #f35500;
